<h1>Places I've been</h1>

<form class="" action="/" method="post">
  <div class="form-group">
    <label for="name">Name of place you've been to</label>
    <input class="form-control" type="text" name="name" value="">
  </div>
</form>
